/*=================================================================
		     UTRUST RESPOND CSS - All Rights Reserved.
==================================================================*/
@media(max-width:1840px){.reader-nav { width: 77%; }}
@media(max-width:1805px){
	/*.reader-prev { margin-left: -38%;}
	.reader-next { margin-left: 35%; }*/
}
@media(max-width:1754px){.reader-nav { width: 76%; }}
@media(max-width:1710px){
	/*.reader-prev { margin-left: -37%;}
	.reader-next { margin-left: 34%; }*/
	.wrap { width: 85%;}    
}
@media(max-width:1754px){.reader-nav { width: 74%; }}
@media(max-width:1580px){
	/*.reader-prev { margin-left: -35%;}
	.reader-next { margin-left: 32%;}*/
	#text4image .iviewer_cursor { width: 1170px !important; margin: auto;}
	.reader-nav { width: 72%; }
}
@media(max-width:1460px){
	.wrap { width: 850px;}
	.reader-nav { width: 68%; }
}
@media(max-width:1390px){
	.wrap { width: 85%;}
}
@media(max-width:1370px){ 
	/*.reader-prev { margin-left: -34%;}
	.reader-next { margin-left: 30.5%;}*/
	/*#text4image .container { width: 1100px; }*/
	#text4image .viewBox,#text4image .textBox { width: 81%;}
	#text4image .iviewer_cursor { width: 1100px !important; margin: auto;}
	#text4image .iviewer_cursor >img { left: -10% ;}

}
	
@media(max-width:1366px){ 
	/*left menu fix*/
	#sideTab { z-index: 5; height: 0; position: absolute; top: -80px;}
	#sideTab li { float: initial; margin: 0; }
	#sideTab li a.btn-search { position: inherit; top: 88px; left: 5px;}
	#sideTab li a.btn-tree { position: inherit; top: 35px; left: 67px;}
	.inner-Content { margin-left: 0;}
	.inner-header .reader-next { right: 20px;}
	.inner-header .reader-prev { /*left: 135px;*/ right:65px; }
}
@media(max-width:1365px){
	.reader-nav { width: 75%; }
}

@media(max-width:1300px){ 
	/*.reader-prev { margin-left: -33%;}*/
	#aboutmodal .modal-body .textBox {width: 80%;}
}
@media(max-width:1265px){
	.reader-nav { width: 73%; }
}

@media(max-width:1290px){
	#text4image .iviewer_cursor { width: 1000px !important; margin: auto;}
} 
@media(max-width:1260px){ 
	/*.reader-next { margin-left: 29%;}*/
}

@media(max-width:1210px){
	/*.reader-prev { margin-left: -31%;}
	.reader-next { margin-left: 27%; }*/
	.wrap { width: 75%;}    
}
@media(max-width:1290px){
} 

@media(max-width:1199px){
	#text4image .iviewer_cursor { margin: inherit; }
	.reader-nav { width: 70%; }
} 
@media(max-width:1180px){ 
	#text4image .iviewer_cursor { width: 870px !important;}
	/*.reader-prev { margin-left: -32%;}
	.reader-next { margin-left: 28%;}*/
}
@media(max-width:1160px){
	#text4image .iviewer_cursor {width: 855px !important; margin: auto;}
}

@media (max-width: 1120px){
	#text4image .iviewer_cursor { width: 800px !important; margin: auto;}
	#text4image .iviewer_cursor >img {left: inherit !important;}
}
@media(max-width:1110px){ 
	/*.reader-prev { margin-left: -29%;}
	.reader-next { margin-left: 25%;}*/
	.wrap { width: 70%;}


}

@media(max-width:1010px){ 
	/*.reader-prev { margin-left: -27%;}
	.reader-next { margin-left: 24%;}*/
	.wrap { width: 70%;}
}

/*@media (min-width: 992px){ #text4image .container { width: 970px;}}
@media (min-width: 768px){ #text4image .container { width: 750px;}}*/


@media(max-width:925px){
	.inner-header .breadcrumb { padding: 20px 10px 21px;}
	.inner-header .breadcrumb li {margin:0; font-size: 13px; }
}


@media(max-width:920px){ 
	/*.reader-prev { margin-left: -25%;}
	.reader-next { margin-left: 21%;}*/
	.wrap { width: 65%;}
}

@media (min-width: 1200px){
    /*.container {width: 1024px;}*/
}



@media (min-width: 768px){
	/*HEADER*/
	.container>.navbar-header, 
	.container>.navbar-collapse {
		width: 100%; 
		text-align: center;
	}